# Fichiers de build
target/
# Fichiers Eclipse
.settings/
.classpath
.project
.factorypath
# Fichiers VS Code
.vscode/

# Dossier img (sauf original et .gitkeep)
img/img_noised/*
!img/img_noised/.gitkeep
img/img_denoised/*
!img/img_denoised/.gitkeep
img/benchmark/*
!img/benchmark/.gitkeep